#button-wrapper {
  display: none;
  margin: 0 auto;
  text-align: center;
  display: block;
  z-index: 111;
  position: relative;
  pointer-events: auto;
}

.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 20px;
  opacity: 0; //for intro fade-in
	border-radius: 27px;

	color: #fff;
	font: 700 14px/60px "Droid Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;

	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -31.5px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}

.button-bar {
  height: 5rem;
  color: #fff;
  //border-top: 1px solid #555;
  position: relative;
  z-index: 111;
}

#mix-wrapper {
  z-index: 111;
  position: relative;
  pointer-events: none;
}

/* General button style (reset) */
button {
  border: none;
  color: $color-grey-dark-3;
  background: $color-grey-light-2;
  cursor: pointer !important;
  padding: 1.3rem 2.2rem !important;
  display: inline-block;
  margin: 0px 0px;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem !important;
  font-weight: 700 !important;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    background-color: rgba($color-grey-light-2, 0.5);
  }
  &:active {
    background-color: $color-tertiary-light;
  }

  @include respond(phone) {
    display: block;
    float: left;
    width: 100%;
  }
}

button:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button-bar button.button-bar-filter-btn-active,
.button-bar button.button-bar-toggle-btn-active,
.button-bar button.button-bar-sort-btn-active {
  color: #0e83cd;
  background: $color-primary-light-2;
}
