/* ---- reset ---- */
canvas {
    display: block;
    vertical-align: bottom;
}

.create-particles {
  position: relative;
  padding-top: 0; 
}

.we-create-particles {
    position: absolute;
    top: -59.79%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    padding: 0 3rem 0rem 3rem;
 

    @include respond(big-desktop) {
        top: -30.5%;
        left: 0;
    }

    @include respond(tab-land) {
        top: -60.5%;
        left: -25.5px;
    }

    @include respond(tab-port) {
        top: -55%;
        left: -21.5px;
    }

    // @include respond(phone-land) {
    //     top: -55%;
    //     left: -21.5px;
    //     padding: 3rem 3rem 0rem 3rem;

    // }

    @include respond(phone) {
        top: -5%;
        left: -25.5px;
    }

    @include respond(small-phone) {
        top: -2.1%;
        left: -24.5px;
    }

}
