.box1 {
  display: flex;
  flex: 1;
  float: none !important;
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-dark-3, 0.8),
      rgba($color-grey-dark, 0.8)
    ),
    url(../../assets/images/cctv.jpg);
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.box1::before {
  content: "";
  display: block;
  height: 0;
  padding-top: 591.44px / 1127.34px * 100%; //0.52463320737

  @include respond(hires-desktop) {
    padding-top: 52.462%;
  }

  @include respond(desktop) {
    padding-top: 52.442%;
  }

  @include respond(tab-land) {
    padding-top: 52.452%;
  }

  // @include respond(big-desktop) {
  //   padding-top: 52.452%;
  // }
}

.tagline {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 85%;
  cursor: pointer;
}

.composition {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
}

.icon--angle-down {
  position: absolute;
  top: 90%;
  left: 49.5%;
  transform: translate(-50%, -50%) scale(.6);
  display: inline-block;
}

.hero-btn {
  transition: color 0.5s ease;
}

.hero-btn:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.5s ease;
  background: none;
}
