/* CSS Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    outline: 0;
    text-decoration: none !important;
    //color: slategrey !important;
  }
  
a:hover {
    outline: 0;
    text-decoration: none !important;
  }

  a:active, a:focus {
    color: rgba(255,255,255,0.5);
  }
  
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
  }

  html {
    //This defines what 1rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

    // @include respond(tab-land) { // width < 1200?
    //   font-size: 56.25%;
    // }
  
    // @include respond(tab-port) { // width < 900?
    //   font-size: 50%;
    // }
  
    @include respond(big-desktop) {
      font-size: 75%;
    }
  
  }

 .barba-container {
    background-color: #333;
  }

  .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

p {
  margin: 0 auto;
}

/**
 * Hide the overflow in IE.
 */

 svg:not(:root) {
  overflow: hidden;
}

.icon {
  background-size: 90px;
  width: 21.5px;
  height: 24px;
  background-repeat: no-repeat;

}


.social-icons {
  text-align: center;
  transform: scale(1.3);
  position: relative;
  //padding-top: 4rem;

  @include respond(phone) {
    padding-top: 4rem;
  }
}

.social-icons__icon {
  display: inline-block;
  margin: 0 5px 5px 5px !important;
  width: 72px;
  height: 72px;
  position: relative;

  @include respond(tab-land) {
  width: 70px;
}

@include respond(ipad-port) {
  width: 40px;
}


}

// @media (max-width: 530px) {

//   .social-icons__icon {
//     width: 70px;
//     margin: 0 5px;
//   }
// }

.social-icons__icon .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.icon--twitter, 
.icon--linkedin-in, 
.icon--medium,
.icon--github,
.icon--envelope {
  transition: all .2s;

  &:hover,
  &:active {
    opacity:0.6;
  }
}

.icon--twitter {
  width: 24px;
  height: 24px; 
}

.icon--github {
  width: 24.05px;
  height: 24px; 
}

.icon--angle-down {
  width: 15.5px;
  height: 24px;
}

.icon--envelope {
  width: 25px;
  height: 24px;
}





