@font-face {
  font-family: 'BrandonText-Medium';
  src: url('../../../assets/fonts/BrandonText-Medium.OTF');
}

@font-face {
  font-family: 'SofiaProRegular';
  src: url('../../../assets/fonts/SofiaProRegular.otf');
}

@font-face {
  font-family: 'FuturaStd-ExtraBold';
  src: url('../../../assets/fonts/FuturaStd-ExtraBold.otf');
}

@font-face {
  font-family: 'FuturaStd-Book';
  src: url('../../../assets/fonts/FuturaStd-Book.otf');
}

.tagline {
  color: #fff;
  text-align: center;
  //background-color: #343434;
  font-family: 'FuturaStd-Book', sans-serif;
  text-transform: uppercase;
  padding-top: 10em;
  padding-bottom: 11em;
  
}

.main-headline-r1 {
  color: #f95759;
  border-bottom: 3px dotted #5d5d5d;
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.6em;
  letter-spacing: 0.5em;
  display: inline-block;
  
}

.main-headline-r2 {
  margin: 0;
  font-size: 9em;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: .42rem;
  font-family: 'FuturaStd-ExtraBold', sans-serif;

  @include respond(phone) {
    font-size: 6rem;
  }
}
  
  p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    //font-family: 'EB Garamond', serif;
    font-size: 1.75rem;
    text-align: left;
  }


  h3.cta {
    //font-family: 'EB Garamond', serif;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    //text-transform: uppercase;
    // font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;  
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.015em;
    text-rendering: optimizelegibility;
    font-size: 4vw;
    line-height: 1.3em;
    margin: 1rem;

    @include respond(phone) {
      font-size: 8vw;

    }
  }

  h3.ctasp {
    font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;  
    color: #333;
    font-weight: 300;
    letter-spacing: -0.035em;
    text-rendering: optimizelegibility;
    font-size: 4vw;
    line-height: 1.3em;
    margin-top: 7rem;
    text-align: center;

    @include respond(phone) {
      font-size: 8vw;

    }
  }

  .projects {
    font-family: 'Source Sans Pro', sans-serif !important; 
    text-transform: uppercase;
    font-size: 1.3rem !important;
    font-weight: 700 !important;
    color: #f95759 !important;   
    width: 25%;
    margin: 0 auto;
    height: 6rem;
    padding-top: 2rem;
    //border-top: 1px solid #777;
    letter-spacing: 3.12px;
    cursor: pointer;
    position: relative;
    z-index: 95;
    pointer-events: auto;

    @include respond(tab-land) {
      padding-top: 2.6rem;

    }
    @include respond(ipad-port) {
      padding-top: 2.6rem;
    }
  }

  .projects.is-closed {
    opacity: 0;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-delay: 250ms;
    transition-timing-function: ease;
  }


  h5 {
    text-align: center
  }